<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/index') -%>
    <title>home page</title>

</head>

<body>
    <%- include('partials/nav') -%>
    <%- include('partials/script') -%>


</body>

</html>